@font-face {
  font-family: 'Golos';
  src:
    url('../fonts/Golostextregular.woff2') format('woff2'),
    url('../fonts/Golostextregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}