.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Golos, sans-serif;
  background-color: $bg-color;
  padding: 140px 40px 40px;
}

a, button {
  cursor: pointer;
}

.display-none {
  display: none;
}

.list-style-reset {
  list-style: none;
}

.link-style-reset {
  text-decoration: none;
}

#js-transition-disabled * {
  transition: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



