@import "normalize";
@import "variables";

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Golos, sans-serif;
  background-color: $bg-color;
  padding: 140px 40px 40px;
}

a, button {
  cursor: pointer;
}

img {
  height: 100%;
}

.display-none {
  display: none;
}

.list-style-reset {
  list-style: none;
}

.link-style-reset {
  text-decoration: none;
}

#js-transition-disabled * {
  transition: none !important;
}

@import "header.scss";
@import "main.scss";
@import "form.scss";
@import "navigation.scss";
@import "footer.scss";

